<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link rel="stylesheet" href="~/css/media.css">
    <link rel="stylesheet" href="~/css/style.css">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <title>One-Tech M</title>
</head>

<body>

    <!--Navigation Start -->

    <div class="nav-1">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex">
                    <div class="nav1_contact_phone ">
                        <i class="fas fa-mobile-alt"></i> +994-50-353-15-20
                    </div>
                    <div class="nav1_contact_email">
                        <i class="far fa-envelope"></i>
                        <a style="margin-left:7px" href="#">manafov0817@gmail.com</a>
                    </div>
                    <div class="nav1_right_content ml-auto d-flex">
                        <div class="nav1_option  row">
                            <div class="nav1_language">
                                <a href="#">English</a>
                                <ul class="language_options my_dropdown">
                                    <li>
                                        <a href="#">Italian</a>
                                    </li>
                                    <li>
                                        <a href="#">Spanish</a>
                                    </li>
                                    <li>
                                        <a href="#">Russian</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="nav1_money">
                                <a href="#">$ US Dollar</a>
                                <ul class="my_dropdown">
                                    <li>
                                        <a href="#">EUR Euro</a>
                                    </li>
                                    <li>
                                        <a href="#">GBP British Pound</a>
                                    </li>
                                    <li>
                                        <a href="#">JPY Jpananese Yen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="nav1_user d-flex">

                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="nav1_login">
                                    <a style="margin-left:7px" href="@Url.Action("Manage","Account")">
                                        @User.Identity.Name
                                    </a>
                                    <span></span>
                                </div>
                                <div class="nav1_register ">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <a href="@Url.Action("Logout","Account")">Logout</a>
                                </div>

                            }
                            else
                            {
                                <div class="nav1_login">
                                    <i class="far fa-user"></i>
                                    <a style="margin-left:7px" href="@Url.Action("Login","Account")">
                                        Login
                                    </a>
                                    <span></span>
                                </div>
                                <div class="nav1_register ">
                                    <a href="@Url.Action("Register","Account")">Register</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <vc:nav2></vc:nav2>


    <div class="nav-3 ">
        <div class="container">
            <div class="row">
                <div class="nav3_main_categories col-7 col-sm-4 col-md-3">
                    <div class="col-11 col-sm-10  ml-auto row">
                        <div class="cat_menu">
                            <span></span>
                            <span style="margin-top: 7px;">
                            </span>
                            <span style="margin-top: 13px;"></span>
                        </div>
                        <div>
                            CATEGORIES
                        </div>
                    </div>
                    <ul class="category_dropdown">
                        <li>
                            <a href="#">
                                Computer & offereds
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Camera & Photos
                            </a>
                        </li>
                        <li class="has_sub">
                            <a href="#">
                                Hardware
                                <i class="fas fa-chevron-right"></i>
                            </a>
                            <ul>
                                <li class="has_sub">
                                    <a href="#">
                                        Category1
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">SubCategory1</a>
                                        </li>
                                        <li>
                                            <a href="#">SubCategory2</a>
                                        </li>
                                        <li>
                                            <a href="#">SubCategory3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has_sub">
                                    <a href="#">
                                        Category2
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">SubCategory1</a>
                                        </li>
                                        <li>
                                            <a href="#">SubCategory2</a>
                                        </li>
                                        <li>
                                            <a href="#">SubCategory3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a href="#">Category3</a></li>
                                <li> <a href="#">Category4 </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                Smartphone & Tablets
                            </a>
                        </li>
                        <li class="has_sub">
                            <a href="#">
                                TV & Audio
                                <i class="fas fa-chevron-right"></i>
                            </a>
                            <ul>
                                <li>
                                    <a href="#">
                                        Category1
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Category2
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Category3
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Category4
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                Gadgets
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Car ELectronics
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Video Games & Consoles
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Accessories
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="page_navbar ml-auto">
                    <ul class="page_navbar_container row ">
                        <li class="ml-auto">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="# ">
                                Super Deals<i style="font-size:0.7em; " class="fas fa-chevron-down"></i>
                            </a>
                            <ul class="has_dropdown ">
                                <li>
                                    <a href="# ">Menu Item</a>
                                </li>
                                <li>
                                    <a href="# ">Menu Item</a>
                                </li>
                                <li>
                                    <a href="# ">Menu Item</a>
                                </li>
                                <li>
                                    <a href="# ">Menu Item</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="# ">
                                Featured Brands<i style="font-size:0.7em; " class="fas fa-chevron-down "></i>
                            </a>
                            <ul class="has_dropdown ">
                                <li>
                                    <a href="# ">Menu Item</a>
                                </li>
                                <li>
                                    <a href="# ">Menu Item</a>
                                </li>
                                <li>
                                    <a href="# ">Menu Item</a>
                                </li>
                                <li>
                                    <a href="# ">Menu Item</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                        <li style="margin-right: 0!important; ">
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>

                </div>
                <div class="md_menu  ml-auto">
                    <div id="accordion_md_menu_header" class="menu_container col-12 row">

                        <div> MENU</div>
                        <div id="accordion_symbol" class="cat_menu">
                            <span></span>
                            <span style="margin-top: 7px;">
                            </span>
                            <span style="margin-top: 13px;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="accordion_md_menu sticky-top">
        <div class="container">
            <div class="accordion_md_menu_content col-12">
                <div class="accordion_search_bar_container col-11 ">
                    <form action="#">
                        <input class="accordion_search_bar" type="search" required="required"
                               placeholder="Search For Products">
                    </form>
                </div>
                <ul class="accordion_nav col-11">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="has_children">
                        <p>Language</p>
                        <i id="down_icon" class="fas fa-chevron-down"></i>
                        <ul class="accordion_nav_selection">
                            <li>
                                <a href="#">English</a>
                            </li>
                            <li>
                                <a href="#">Russian</a>
                            </li>
                            <li>
                                <a href="#">Spanish</a>
                            </li>
                            <li>
                                <a href="#">Japanese</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has_children">
                        <p>Currency</p>
                        <i id="down_icon" class="fas fa-chevron-down"></i>
                        <ul class="accordion_nav_selection">
                            <li>
                                <a href="#">Us Dollar</a>
                            </li>
                            <li>
                                <a href="#">Eur Euro</a>
                            </li>
                            <li>
                                <a href="#">GBP British Pound</a>
                            </li>
                            <li>
                                <a href="#">Jpy Japanese Yen</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has_children">
                        <p>Super Deals</p>
                        <i id="down_icon" class="fas fa-chevron-down"></i>
                        <ul class="accordion_nav_selection">
                            <li>
                                <a href="#">Super Deals</a>
                            </li>
                            <li>Menu Item</li>
                            <li>Menu Item</li>
                            <li>Menu Item</li>

                            <li class="has_children_sec_gen">
                                <p>Menu item</p>
                                <i class="fas fa-chevron-down"></i>
                                <ul class="accordion_nav_selection_sec_gen">
                                    <li>
                                        <a href="#">Menu Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Menu Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Menu Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Menu Item</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </li>
                    <li class="has_children">
                        <p> Featured Brands</p>
                        <i id="down_icon" class="fas fa-chevron-down"></i>
                        <ul class="accordion_nav_selection">
                            <li>
                                <a href="#">Featured Brands</a>
                            </li>
                            <li>
                                <a href="#">Menu Item</a>
                            </li>
                            <li>
                                <a href="#">Menu Item</a>
                            </li>
                            <li>
                                <a href="#">Menu Item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has_children">
                        <p>Trending styles</p>
                        <i id="down_icon" class="fas fa-chevron-down"></i>
                        <ul class="accordion_nav_selection">
                            <li>
                                <a href="#">Trending styles</a>
                            </li>
                            <li>
                                <a href="#">Menu Item</a>
                            </li>
                            <li>
                                <a href="#">Menu Item</a>
                            </li>
                            <li>
                                <a href="#">Menu Item</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    @RenderBody( )



    <div class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12  row">
                    <div class="newsletter_container col-xs-12">
                        <div class="newsletter_icon"><img src="img/send.png" alt="" srcset=""></div>
                    </div>
                    <div class="newsletter_title_container">
                        <div>
                            <div class="newsletter_title">
                                Sign up for Newsletter
                            </div>
                            <div class="newsletter_text">
                                ...and recieve %20 coupon for first shopping.
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-12 col-lg-7 row clearfix">
                    <form action="" class="submit_form">
                        <input required="required" ype="text" placeholder="Enter your email adress...">
                        <button type="submit">Subscribe</button>
                    </form>

                    <div class="unsubscribe_button ml-auto">
                        <a href="#">unsubscribe</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-3">
                    <div class="logo"><a href="@Url.Action("Index","Home")">OneTech</a></div>
                    <div class="got_quesion">Got Question? Call us:</div>
                    <div class="footer_number">+994 50 353 15 20</div>
                    <div class="footer_adress">
                        Adress: 7 Araz, Bakı 1029, Azerbaijan
                    </div>
                    <div class="footer_sn">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-google"></i></a>
                        <a href="#"><i class="fab fa-vimeo-v"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-2">
                    <div class="find_it_fast">
                        Find It Fast ...
                        <ul>

                            <li><a href="#">Computer & Laptops</a></li>
                            <li><a href="#">Cameras & Photos</a></li>
                            <li><a href="#">Hardware</a></li>
                            <li><a href="#">Smartphones & Tablets</a></li>
                            <li><a href="#">Tv & Audio</a></li>
                            <li><a href="#">Gadgets</a></li>
                            <li><a href="#">Car ELectronics</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="find_it_fast">
                        ...
                        <ul>
                            <li><a href="#">Video Games & Consoles</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Gadgets</a></li>
                            <li><a href="#">Car ELectronics</a></li>
                            <li><a href="#">Computer & Laptops</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="customer_care">
                        Customer Care
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Prder Tracking</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Customer Services</a></li>
                            <li><a href="#">Returns / Exchanges</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Product Support</a></li>



                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    Copyright &#169 | All Right Reserved. Design belongs to <a href="https://colorlib.com/">Colorlib</a> and made by <a href="https://www.facebook.com/manafov0817/">Manafov</a>
                </div>
                <div class="col-md-6">
                    <div class="logo_list row">
                        <div class="mini_logo ml-auto">
                            <a href="#"><img src="img/logos_1.png" alt="#"></a>
                        </div>
                        <div class="mini_logo ">
                            <a href="#"><img src="img/logos_2.png" alt="#"></a>
                        </div>
                        <div class="mini_logo ">
                            <a href="#"><img src="img/logos_3.png" alt="#"></a>
                        </div>
                        <div class="mini_logo ">
                            <a href="#"><img src="img/logos_4.png" alt="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="~/js/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/5652087c0b.js " crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>


    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/product.js "></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/js/custom.js"></script>
</body>

</html>



